.signup_container{
    height: 100%;
}

.signup_container form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

form .fields{
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

form .buttons{
    display: flex;
    gap: 1rem;
}