.main_container {
    background-color: var(--dark-grey);
    color: var(--white);
}

.main_container .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 4rem);
    gap: 2rem;
}

.main_container .content .greeting {
    font-size: 2.5rem;
}

.greeting strong {
    text-transform: capitalize;
}

.products {
    width: 50%;
}

.product {
    height: 5rem;
}