.forgot_password_container {
    height: 100%;
}

.forgot_password_container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

form .fields {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

form .fields>* {
    width: 100%;
    margin: 0;
}

.fields .signin_text {
    font-size: 0.8rem;
}

.signin_text .link {
    padding-left: 1ch;
    text-decoration: none;
    color: var(--brand-color);
}

form .buttons {
    display: flex;
    gap: 1rem;
}