* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --brand-color: rgba(10, 87, 209, 255);
  --background-color-1: rgba(240, 244, 249, 255);
  --background-color-2: white;
}